<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>content</title>
    <link rel="stylesheet" type="text/css" href="/static/css/content.css"/>
</head>
<body>

        <div class="content">
            <div class=" message">

                <div class="box1">
                    <div class=" introduction" >
                        <p class="p1">蓝桥杯介绍</p>
                        <hr class="hr"/>
                        <div class="about">
                            <p>
                                为促进软件和信息领域专业技术人才培养，提升高校毕业生的
                            </p>
                            <p>
                                就业竞争力，由教育部就业指导中心支持，工业和信息化部人
                            </p>
                            <p>
                                才交流中心举办蓝桥杯大赛。八年来，包括北大、清华在内的
                            </p>
                            <p>
                                超过 1200 余所院校，累计20万余名学子报名参赛，IBM、百
                            </p>
                            <p>
                                度等知名企业全程参与，成为国内始终领跑的人才培养选拔模
                            </p>
                            <p>
                                式和行业认可度最高的 IT 类科技竞赛。
                            </p>
                        </div>

                        <div class="a1">
                            <a  href="">关于我们</a>
                        </div>

                </div>


                <div class="box2">
                    <div class=" news">
                        <p class="p1"><a href="">大赛通知</a></p>
                        <hr class="hr"/>
                    </div>
                </div>

            </div>
        </div>



        <div class="pictures">

            {#<div class="p1">#}
                {#<img src="../static/images/p1.PNG">#}
            {#</div>#}
            <div class="p2" style="width: 100%;">
                <img src="../static/images/p2.PNG" width="100%">
            </div>

            <div class="p3" style="width: 100%;margin-top: 60px;">
                <img src="../static/images/p3.PNG" width="100%">
            </div>

            <div class="p4-1" style="width: 100%;margin-top: 50px;">
                <img src="../static/images/p4-1.PNG" width="100%">
            </div>

            <div class="p4-2" style="width: 100%;">
                <img src="../static/images/p4-2.PNG" width="100%">
            </div>

            <div class="p5" style="width: 100%;margin-top: 20px;">
                <img src="../static/images/p5.PNG" width="100%">
            </div>


            <div class="p6" style="width: 100%;margin-top: 20px;">
                <img src="../static/images/p6.PNG" width="100%">
            </div>

            <div class="p7" style="width: 100%;margin-top: 20px;">
                <img src="../static/images/p7.PNG" width="100%">
            </div>
          </div>


        <div class="support" >

            <p>友情链接</p>

            <div class="go">
                <a href="http://www.saikr.com/" target="_blank">赛氪</a>
                <a href="http://www.godasai.com/" target="_blank">去大赛网</a>
                <a href="http://www.saihuan.net/" target="_blank">赛欢网</a>
                <a href="http://xiaoyuan.zbj.com/" target="_blank">八戒校园</a>
            </div>
        </div>

 </body>
</html>