<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

    <div class="pg-header">
        {#页面顶部#}
        {% include 'header.html' %}
    </div>

    <div class="pg-body">

        {#轮播图#}
        {% include 'carousel.html' %}

        {#蓝桥杯介绍和新闻#}
        {% include 'content.html' %}

        <!-- 普通用户登录模态对话框结束 -->
        {% include 'UserLogin.html' %}
        <!-- 普通用户登录模态对话框结束 -->

        <!-- 管理员登录模态对话框开始 -->
        {% include 'AdministratorLogin.html' %}
        <!-- 管理员登录模态对话框结束 -->

        <!-- 遮罩层开始 -->
        <div id='shade' class='shade hide'></div>
        <!-- 遮罩层结束 -->

        {#页面底部#}
        {% include 'footer.html'%}
    </div>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <script>
        $('.login-button').click(function () {
            $('#modal_login1').removeClass('hide');
            $('.shade').removeClass('hide')
        });

        $('.administratorlogin-button').click(function () {
            $('#modal_login2').removeClass('hide');
            $('.shade').removeClass('hide')
        });

{#        $('.register').click(function () {#}
{##}
{#        });#}
        function Hide(target) {
            $(target).addClass('hide');
            $('.err_msg').text('');
        };

        function changeCheckcode(ths){
            ths.src = ths.src + '?';
        };

        $('.register').click(function () {
            window.location.href ="/register"
        });
        $('.login-submit').click(function () {
            $.ajax({
                url: '/login/',
                type: 'POST',
                traditional: true,
                data: $('.form').serialize(),
                success:function (result) {
                    var response = JSON.parse(result);
                    console.log(response.status);
                    if(response.status=='True'){
{#                        //去模态对话框#}
{#                        $('#modal_login1').addClass('hide');#}
{#                        //去遮罩层#}
{#                        $('#shade').addClass('hide');#}
{#                        //展示用户info#}
{#                        $('.DLZC').addClass('hide');#}
                        window.location.href =""
                    } else{
                        //show error message
                        $('.err_msg').text(response.err_msg.error);
                    }
                },
                error:function () {
                    alert("请求异常")
                }
            }
            )
        });



    </script>

</body>
</html>
