.shade {
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.modal_login {
    position: fixed;
    top: 18%;
    left: 50%;
    margin-left: -200px;
    margin-top: -55px;
    width: 430px;
    height: 585px;
    z-index: 1070;
    background-color: white;
}


.pg-body{
    position: absolute;
    z-index: 90;
    top:70px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.modal-body .center{
    margin-top: 20px;
    width: 300px;
    margin-left: 50px;
}

.modal-body a{
    margin-top: 40px;
    width: 300px;
    margin-left: 50px;
}









